In [22]:
%%pyspark
df = spark.read.load('abfss://synapse@packtadesynapse.dfs.core.windows.net/files/transaction-tbl.csv', format='csv'
## If header exists uncomment line below
,header=True
)
display(df.limit(10))

StatementMeta(packtsparkpool, 61, 26, Finished, Available)

SynapseWidget(Synapse.DataFrame, 24c2ebb1-d2df-457a-b83c-71d54b215b36)

In [23]:
df.createOrReplaceTempView("vw_transaction_tbl")

StatementMeta(packtsparkpool, 61, 27, Finished, Available)

In [24]:
%%sql
CREATE DATABASE if not exists lake_db

StatementMeta(packtsparkpool, 61, 28, Finished, Available)

In [25]:
%%sql
CREATE TABLE if not exists lake_db.transaction_tbl_t1 
USING DELTA
SELECT * FROM vw_transaction_tbl

StatementMeta(packtsparkpool, 61, 29, Finished, Available)

In [26]:
%%sql
CREATE TABLE if not exists lake_db.transaction_tbl_t2 
USING DELTA
SELECT * FROM vw_transaction_tbl

StatementMeta(packtsparkpool, 61, 30, Finished, Available)

Run a few insert statements so that we will have a few small parquet files

In [27]:
ctr = 1
while ctr <=3 :
    spark.sql(f"Insert into lake_db.transaction_tbl_t1 Select * from vw_transaction_tbl where tid < 10")
    ctr = ctr + 1

StatementMeta(packtsparkpool, 61, 31, Finished, Available)

In [28]:
%%sql
/* 
drop table lake_db.transaction_tbl_t1;
drop table lake_db.transaction_tbl_t2; 
*/
Select 'Done' ;

StatementMeta(packtsparkpool, 61, 32, Finished, Available)