In [26]:
%%sql
Select count(DISTINCT pid) as pid_count,count(DISTINCT tid) as tid_count  from transaction_tbl_f1

StatementMeta(packtsparkpool, 73, 35, Finished, Available)

In [31]:
%%sql

CREATE TABLE transaction_tbl_opt_f1 
USING DELTA PARTITIONED BY (pid)
AS
SELECT * FROM transaction_tbl_f1;
CREATE TABLE transaction_tbl_opt_f2 
USING DELTA 
SELECT * FROM transaction_tbl_f2;

StatementMeta(, 73, -1, Finished, Available)

In [28]:
%%sql
Optimize transaction_tbl_opt_f1 zorder by (tid);
Optimize transaction_tbl_opt_f2 zorder by (tid);

StatementMeta(, 73, -1, Finished, Available)

In [29]:
%%sql

Select t1.pid,sum(t2.order_count)
FROM transaction_tbl_opt_f1 t1 
inner join transaction_tbl_opt_f2 t2 on t1.tid = t2.tid
WHERE t1.pid between 3 and 7
Group by t1.pid

StatementMeta(packtsparkpool, 73, 40, Finished, Available)

In [30]:
%%sql
 Drop table transaction_tbl_f1;
Drop table transaction_tbl_f2; 
drop table transaction_tbl_opt_f1;
drop table transaction_tbl_opt_f2;

StatementMeta(, 73, -1, Finished, Available)