In [1]:
%%pyspark
df = spark.read.load('abfss://synapse@packtadesynapse.dfs.core.windows.net/files/transaction-tbl.csv', format='csv'
## If header exists uncomment line below
,header=True
)
display(df.limit(10))

StatementMeta(packtsparkpool, 75, 2, Finished, Available)

SynapseWidget(Synapse.DataFrame, 9b8d94e8-fe1f-4b54-a7ba-8d4317c468b1)

In [2]:
df.createOrReplaceTempView("vw_transaction_tbl")

StatementMeta(packtsparkpool, 75, 3, Finished, Available)

In [3]:
%%sql
CREATE TABLE transaction_tbl_f1 
USING DELTA
SELECT * FROM vw_transaction_tbl;

StatementMeta(packtsparkpool, 75, 4, Finished, Available)

In [4]:
%%sql
CREATE TABLE transaction_tbl_f2
USING DELTA
SELECT * FROM vw_transaction_tbl;
Insert into transaction_tbl_f2
Select * from vw_transaction_tbl;
Select count(*) from transaction_tbl_f2;

StatementMeta(, 75, -1, Finished, Available)

In [5]:
ctr = 1
while ctr <=10 :
    spark.sql(f"Insert into transaction_tbl_f1 Select * from transaction_tbl_f1")
    ctr = ctr + 1

StatementMeta(packtsparkpool, 75, 8, Finished, Available)

In [6]:
%%sql
Select count(*) from transaction_tbl_f1

StatementMeta(packtsparkpool, 75, 9, Finished, Available)

In [7]:
%%sql
Select t1.pid,sum(t2.order_count)
FROM transaction_tbl_f1 t1 
inner join transaction_tbl_f2 t2 on t1.tid = t2.tid
WHERE t1.pid between 3 and 7
Group by t1.pid

StatementMeta(packtsparkpool, 75, 10, Finished, Available)