In [1]:
%%pyspark
df = spark.read.load('abfss://synapse@packtadesynapse.dfs.core.windows.net/files/transaction-tbl.csv', format='csv'
## If header exists uncomment line below
,header=True
)
display(df.limit(10))

In [2]:
df.createOrReplaceTempView("vw_transaction_tbl")

In [3]:
%%sql
CREATE OR REPLACE TABLE transaction_tbl2  
USING DELTA
AS 

SELECT * FROM vw_transaction_tbl

In [4]:

%%sql
Select t1.pid,t1.c1,t2.c2,sum(t2.order_count)
FROM transaction_tbl2 t1 
inner join transaction_tbl2 t2 on t1.transaction_date = t2.transaction_date
WHERE t1.tid between 1 and 100
Group by t1.pid,t1.c1,t2.c2
order by sum(t2.order_count)